.nav-img {
    max-height: 7vh;
    width: auto;
}
/* Estilo para la clase active */
.nav-link.active {
  background: linear-gradient(to top, #572663,   #ba2c74 ) !important; 
  -webkit-background-clip: text !important; 
  color: transparent !important; 
  transition: background 0.3s ease !important;
  outline: none;
  border: none; 
}

.main-image {
  max-width: 100%;  
  height: auto; 
  object-fit: contain;
  display: block; 
  margin-left: auto; 
  margin-right: auto;
  max-height: 60vh;  
}

  /* Ajustes de la sección de inicio */
#inicio {
  padding: 50px 0;
  height: auto;
  position: relative;
  overflow: hidden; /* Previene que el contenido se desborde */
}
  .jumbotron {
    padding: 0; 
  }
  
  p.lead {
    font-size: 1.25rem;
    color: #6c757d;
  }

h2.text-center {
    text-align: center; 
  }
  
  p.text-justify {
    text-align: justify;
  }
  
  .container {
    margin-top: 30px;
  }
  
  .col-md-6 {
    padding: 15px;
  }
  /* Ajuste para las secciones para que no queden cubiertas por el navbar */
  #inicio, #servicios {
    padding-top: 70px; /* Asegúrate de que esto sea mayor que la altura del navbar */
  }
  #servicios{
    display: none;
  }

  
 /* Sección de beneficios vs competencia */
.feature-item {
  display: flex;
  flex-direction: row; /* Coloca los elementos en fila (horizontal) */
  align-items: center;
  justify-content: flex-start; /* Alinea los elementos a la izquierda */
  padding-right: 20px;
  padding-left: 20px;
}

.feature-icon {
  width: auto; /* Tamaño del ícono */
  height: auto;
  max-height: 90px;
  max-width: 90px;
  margin-right: 15px; /* Espacio entre el ícono y el texto */
  filter: drop-shadow(0 4px 1px rgba(0, 0, 0, 0.2));
}

h5 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
}

p {
  font-size: 1rem;
  color: #777;
  margin-bottom: 0;
}


/* Seccion de servicios */

/* Estilo general de las Cards */

  .card {
    border-radius: 15px; /* Bordes redondeados */
    overflow: hidden; /* Evitar que las imágenes se desborden */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave y sutil */

  }

/* Imagen de la Card */
.card-img-top {
  width: 100%;  /* Asegura que la imagen ocupe todo el ancho */
  height: 200px;  /* Fija una altura para las imágenes */
  object-fit: cover;  /* Mantiene la proporción de la imagen sin distorsionarla */
}

/* Estilo del texto y el contenido de la Card */
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

/* Espaciado entre filas */
section.bg-white .container .row {
  margin-bottom: 30px; /* Agrega espacio entre las filas */
}

/* Botón de cada Card */
.btn {
  align-self: center;  /* Centra el botón */
  background: linear-gradient(to top, #572663,   #ba2c74   ); /* Degradado de abajo hacia arriba */
  transition: background 0.3s ease, transform 0.3s ease; /* Transiciones suaves para el fondo y el efecto de escalado */
}
.btn:hover {
  background: linear-gradient(to top, #1c7474  , #1c7474  ); /* Invertir colores en el hover */
  transform: scale(1.1); /* Aumentar ligeramente el tamaño del botón */
}

.footer {
  background: linear-gradient(to top, #572663, #ba2c74);
  color: white;
  padding: 40px 0;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer h5 {
  color: white;
}
.footer p {
  color: white;
}
.logo-footer{
  max-width: 90%;
  max-height: 11vh;

}

  /* Seccion de responsividad */

  @media (max-width: 768px) {
    #inicio {
      padding: 30px;    }
  
    .col-md-6 {
      flex: 1 100%;
      text-align: center;
      padding: 10px;  /* Añadir un pequeño padding en las columnas */
    }
  
    .main-image {
      max-height: 50vh; /* Limitar la altura de la imagen a la mitad de la pantalla en dispositivos móviles */
    }
    .row {
      display: flex;
      flex-wrap: wrap; /* Permite que los elementos se acomoden bien en pantallas pequeñas */
      justify-content: center; /* Centra los elementos */
    }
  
    .col-md-4 {
      flex: 1 0 100%; /* Hace que las columnas ocupen el 100% del ancho en pantallas pequeñas */
      text-align: center; /* Asegura que el texto esté centrado */
    }
  
    .feature-item {
      flex-direction: column; /* Los elementos se apilan en pantallas más pequeñas */
      text-align: center; /* Centra el texto para pantallas pequeñas */
    }
  
    .feature-icon {
      margin-bottom: 10px; /* Espacio entre el ícono y el texto */
    }
  
    h5 {
      font-size: 1.1rem; /* Ajusta el tamaño de la fuente en pantallas pequeñas */
    }
  
    p {
      font-size: 0.9rem; /* Ajusta el tamaño del texto en pantallas pequeñas */
    }

    .card-img-top {
      height: 150px;  /* Reduce la altura de la imagen en pantallas pequeñas */
    }
  
    .card-body {
      padding: 10px;
    }
  
  }